@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table TItem="WeatherForecast" Items="@_forecasts.Take(3)" HeaderStyle="TableHeaderStyle.Dark" IsStriped=true IsBordered="true" TableSize="TableSize.Compact">
        <TableColumns>
            <TableColumn @bind-Field="@context.Date" Width="180" Filterable="true" Sortable="true" />
            <TableColumn @bind-Field="@context.TemperatureC" Text="Temp. (C)" />
            <TableColumn @bind-Field="@context.TemperatureF" Text="Temp. (F)" />
            <TableColumn @bind-Field="@context.Summary" Text="Summary">
                <Template Context="v">
                    @v.Value
                </Template>
            </TableColumn>
        </TableColumns>
    </Table>
}

@code {
    private WeatherForecast[]? _forecasts;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF
        {
            get => 32 + (int)(TemperatureC / 0.5556);
            set => throw new NotImplementedException();
        }
    }
}